# Audio Transcription Layer
openai-whisper==20231117

# LangChain Orchestration Framework
langchain==0.3.0
langchain-core==0.3.0

# IBM Watsonx Integration Integration Layer
langchain-ibm==0.3.0

python-dotenv==1.0.1